/*
#background {
  position: absolute;
  z-index: -90;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
*/

* {
  user-select: none!important;
}

#saki-player-hand {
  user-select: none;
  position: absolute;
  bottom: -12vh;
  width: 0vw;
  left: 30vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: grid;
  grid-template-columns: 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw 6.25vw;
  transition-duration: 0.3s;
  transition-property: bottom;
}

#saki-player-hand:hover {
  bottom: 0px!important;
}

.opponent-area {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opponent-hand {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: grid;
  transition-duration: 0.3s;
  transition-property: top left right;
}

#kamicha-player-hand {
  top: 32vh;
  left: -16vw;
  width: 26vw;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  transform: rotate(90deg);
}

#toimen-player-hand {
  top: -12vh;
  left: 8vw;
  width: 26vw;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  transform: rotate(180deg);
}

#shimocha-player-hand {
  top: 42vh;
  right: -16vw;
  width: 26vw;
  grid-template-columns: 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw 4vw;
  transform: rotate(270deg);
}

.own-card {
  user-select: none;
  z-index: 0;
  width: 9vw;
  height: 13vw;
  position: relative;
  top:0;
  transition-duration: 0.3s;
  transition-property: top, right, width, height;
}

.own-card:hover {
  z-index: 100;
  top: -30px;
}

.opponent-card {
  user-select: none;
  position: relative;
  z-index: -1;
  width: 9vw;
  height: 13vw;
}

.saki-card-img {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.own-card-beta::before {
  z-index: 1;
  content: "β";
  font-weight: bolder;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  padding: 0 9px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: white;
  background-color: black;
}

.card-actions {
  grid-template-columns: 3fr 1fr;
  user-select: none;
  z-index: 100;
  width: 9vw;
  position: relative;
  bottom: 31px;
  display: none;
}

/* Debug only property */
.card-actions button {
  height:31px;
  font-size: 20px;
  padding: 0;
}

.own-card:hover .card-actions {
  display: grid; 
}

#big-card {
  z-index: 100;
  width: 45vh;
  height: 65vh;
  position: absolute;
  top: 16vh;
  left: 77vh;
}

#big-saki-card-img {
  display: none;
}

.played-card {
  user-select: none;
  z-index: 90;
  display: none;
  width: 22.5vh;
  height: 32.5vh;
  position: absolute;
  transition-duration: 0.3s;
  transition-property: top left right bottom;
}

#flip-button {
  display: none;
  position: absolute;
  top: -30px;
  width: 50px!important;
}

.played-saki-card-img {
  z-index: 90;
  height: 100%;
}

#player-card {
  bottom: 10vh;
  right: 27vw;
}

.player-name {
  user-select: none;
  position: absolute;
  color: white;
  text-shadow: 2px black;
}

#kamicha-name {
  transform: rotate(90deg);
}

#toimen-name {
  transform: rotate(180deg);
}

#shimocha-name {
  transform: rotate(270deg);
}

#kamicha-card {
  top: 25vh;
  left: 14vw;
}

#toimen-card {
  top: 2vh;
  left: 27vw;
}

#shimocha-card {
  top: 25vh;
  right: 14vw;
}

#saki-sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(30,30,30,.6);
}

#toggle-saki-sidebar {
  cursor: pointer;
}

#toggle-saki-sidebar:hover {
  color: grey!important;
}

#saki-sidebar {
  width: 220px;
  height: 100%;
  margin-top: 60px;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-controls {
  user-select: none;
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

#join-controls, #saki-sidebar form {
  user-select: none;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#saki-sidebar label, #saki-sidebar h3, #saki-sidebar h2, #saki-sidebar h6, #saki-sidebar p {
  user-select: none;
  color: white;
}

.grey {
  opacity: 70%!important;
}

#disclaimer {
  margin-top: auto;
}

#saki-sidebar h3, #saki-sidebar h2 {
  margin: 0 0 15px;
}

#saki-sidebar button {
  margin-top: 10px;
}

.seat-select {
  /* position: absolute; */
  display: none;
}

.beta-field {
  background-color: #343a40;
  margin-top: 10px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 32px;
  font-size: 14px;
}

.beta-field label {
  margin: 0;
}

.spectator-controls {
  justify-content: space-around;
}

.spectator-controls button {
  width: 80px!important;
}

#spectating-name {
  display: none;
  color: white;
}

@media screen and (max-width: 1366px) {
  #saki-sidebar {
    width: 14vw;
  }
  #saki-sidebar p {
    font-size: 0.8rem!important;
  }
  #disclaimer {
    margin-top: 0;
  }
}